<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--Cadena conexión hacia la base de datos MegaConverterPReal -->
    <add name="LINEAPRUEBASEntities" connectionString="Server=172.11.23.48;Database=LINEAPRUEBAS;User ID=ifacere;Password=$@ndungu30ifacere;Application Name=DTEService.svc;Min Pool Size=10;Max Pool Size=200;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>